.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.header__content {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
    background: rgba(15, 15, 15, 0.55);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    z-index: 1000;
}

.header__division {
    margin: 0 0 0 32px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__logo {
    font-weight: 800;
    letter-spacing: -0.05em;
    font-size: 1.875rem;
    font-family: "Syne", sans-serif;
    color: var(--title);
}

.header__links {
    display: flex;
    align-items: center;
    gap: 12px;
    list-style: none;
}

.header__link {
    font-size: 0.925rem;
    color: var(--subtitle);
    text-decoration: none;
    list-style: none;
}

.header__button {
    margin: 0 32px 0 0;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    border-radius: 5rem;
    padding: 0.85rem 1.5rem;
    text-transform: uppercase;
    border: none;
    font-size: 12px;
    background: var(--darkPurpleMain);
    color: var(--title);
    transition: var(--transition);
    width: max-content;
    white-space: nowrap;
}

.header__button:hover {
    transform: scale(1.05);
}

.header__button:active {
    transform: scale(0.9);
}

.alert--visible {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s ease;
}

.alert--hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 775px) {
    .header__content {
        gap: 0px;
    }

    .header__options {
        display: none;
    }
}
