.cardInfoImage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 36px;
}

.cardInfoImage__card {
    position: relative;
    max-width: 278px;
    height: 345px;
    margin: 0 16px;
    padding: 48px;
    border: 1px solid #cccccc20;
    border-radius: 2rem;
    overflow: hidden;

    --mouse-x: 50%;
    --mouse-y: 50%;
}

.cardInfoImage__card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y),
        rgba(116, 9, 209, 0.133),
        transparent 40%
    );
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.cardInfoImage__card:hover::before {
    opacity: 1;
}

.cardInfoImage__image {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 1.5rem;
}

.cardInfoImage__title {
    margin: 20px 0;
    line-height: 2.25rem;
    font-size: 30px;
    color: var(--title);
    font-weight: 700;
    font-family: "Syne", sans-serif;
}

.cardInfoImage__description {
    font-size: 18px;
    color: var(--subtitle);
}
