@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

:root {
  --background: #060010;
  --title: #ffffff;
  --subtitle: #827e8b;
  --darkPurpleMain: #6014A4;
  --darkPurpleSecondary: #6014A4;
  --darkPurple: #6014A4;
  --transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  --textGradient: linear-gradient(135deg, #300A52 0%, #9D6FC6 100%);
}

html {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  line-height: 1px;
}

/* font-family: "Syne", sans-serif; */

::-webkit-scrollbar {
  width: 7.5px;
  background: #28282986;
}

::-webkit-scrollbar-thumb {
  background: #ffffff15;
  border-radius: 1rem;
}
