.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 80px 0;
    margin: 96px 0 0 0;
    border-top: 1px solid #cccccc20;
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 25px;
    color: var(--subtitle);
}

.footer__copy {
}

.footer__social--icon {
    cursor: pointer;
}

.footer__copy--text {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--title);
}

.footer__copy--description {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--subtitle);
}
