.callToAction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 62rem;
    height: 20rem;
    border-radius: 2rem;
    gap: 25.5px;
    aspect-ratio: 16/7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5rem 0;
    border: 1px solid #cccccc20;
}

.callToAction__title {
    line-height: 3.5rem;
    font-size: 45px;
    text-align: center;
    color: var(--title);
    width: 40rem;
    font-weight: 700;
    font-family: "Syne", sans-serif;
}

.callToAction__subtile {
    max-width: 550px;
    text-align: center;
    font-size: 18px;
    color: var(--subtitle);
}

@media screen and (max-width: 1071px) {
    .callToAction {
        width: 85%;
    }
}

@media screen and (max-width: 775px) {
    .callToAction {
        padding: 5rem 2rem;
    }

    .callToAction__title {
        width: 100%;
        font-size: 45px;
    }

    .callToAction__subtile {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .callToAction {
        width: 100%;
        border-radius: 0px;
        border: none;
        padding: 5rem 0;
    }

    .callToAction__title {
        width: 100%;
        font-size: 32px;
        line-height: 2.65rem;
        margin: 0 16px;
    }

    .callToAction__subtile {
        width: 100%;
        margin: 0 16px;
    }
}
